*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;

    /*Fonts*/
    --base-montserrat-font: 'Montserrat', sans-serif;
    --base-dmsans-font: 'DM Sans', sans-serif;
    --base-dancingscript-font: 'Dancing Script', cursive;

    /*Colors*/
    --base-body-gradient: linear-gradient(45deg, #190361 0%, #B0F 100%);
    --base-white-100:hsla(0, 0%, 100%, 1);
    --base-orange-100:hsla(35, 100%, 50%, 1);
    --base-blue-100:hsla(198, 32%, 92%, 1);
    --base-blue-200: hsla(238, 27%, 28%, 1);
    --base-black-100: hsla(0, 0%, 0%, 1);
}


body{
    background: var(--base-body-gradient);
    min-height: 100vh;

    display: flex;
    padding: 8.0rem 4.27rem 2.46rem 4.27rem;
    justify-content: center;
    align-items: center;

    animation: gradientBackgound 7s ease-in-out infinite;
    background-size: 200% 200%;
}

main{
    padding: 4.8rem 5.4rem;
    background: #FFF;

    border-radius: 6px;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
    max-width: 55rem;
}

.screenOne,
.screenTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    gap: 2.6rem;

    animation: fade 2s;
}

.hidden{
    display: none;
}

.textTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    gap: 1.4rem;
}

.textTop h1, .screenTwo h1{
    font-family: var(--base-montserrat-font);
    font-weight: 700;

    color: var(--base-blue-200);
    font-size: 3rem;
    text-align: center;
}

.textTop p{
    font-family: var(--base-dmsans-font);
    font-weight: 400;
    font-size: 2rem;
    color: var(--base-blue-200);
}
#btnOpen{
    max-height: 25rem;
}
#btnOpen img:hover{
    animation: shakecookie 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.luckBox{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    background-color: var(--base-blue-100);
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);

    animation: cardAppear 2s;

}

#luckText{
font-family: var(--base-dancingscript-font);
font-size: 2.4rem;
text-align: center;

color: var(--base-black-100);

border: 2px solid rgb(13, 179, 250);
padding: 0.8rem;

}


.screenOne #btnOpen{
    border: none;
    background-color: var(--base-white-100);
}

.screenTwo #btnRefresh{
    padding: 16px;
    background: var(--base-orange-100);
    
    font-family: var(--base-dmsans-font);
    font-weight: 700;
    color: var(--base-white-100);
    text-align: center;

    border-radius: 4px;
    border: none;
}

.screenTwo #btnRefresh:hover{
    filter: brightness(115%);
    box-shadow: -0.5px 3px 5px 1px rgba(85, 85, 85, 0.50);
}
